# Python
__pycache__/
*.pyc
.venv/

# Environment / local secrets
.env

# Databases and backups
data/*.db
data/*.bak
data/backup_*
*.db
wordle_scores.json
loser_dump.sql
*_b64.txt
loser_data.txt
wordle_scores.txt

# IDE/Editor
.vscode/
.idea/
